<?xml version="1.0" encoding="UTF-8" ?>
<ScriptSettings>
	<AssemblyReference resolver="local">DLL\NAudio.dll</AssemblyReference>
	<AssemblyReference>System.dll</AssemblyReference>
	<AssemblyReference>System.Core.dll</AssemblyReference>
	<AssemblyReference>System.Data.dll</AssemblyReference>
	<AssemblyReference>System.Xml.dll</AssemblyReference>
	<AssemblyReference>Microsoft.WindowsAPICodePack.Shell.dll</AssemblyReference>
	<AssemblyReference>Microsoft.WindowsAPICodePack.dll</AssemblyReference>
	<CompilerOptions>-debug -D:DEBUG</CompilerOptions>
</ScriptSettings>
