/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Global
 */
html,
body {
	interpolate-size: allow-keywords;
	touch-action: manipulation;
	font-kerning: normal;
	font-synthesis-style: none;
	font-variant-ligatures: common-ligatures historical-ligatures contextual;
	font-variant-numeric: proportional-nums;
	text-spacing-trim: trim-start;
	text-spacing-trim: trim-both;
	text-autospace: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
	tab-size: 4;
	scroll-behavior: smooth;
	font-optical-sizing: auto;
	hyphens: auto;
	hyphenate-limit-chars: 10;
	-webkit-tap-highlight-color: transparent;
	text-wrap: pretty;
	font-synthesis-style: none !important;
}

[lang] {
	&:is(:lang(zh), :lang(ja), :lang(ko)) {
		text-align: justify;
		hanging-punctuation: none;
	}

	&:is(:lang(th), :lang(lo), :lang(km), :lang(my)) {
		text-align: justify;
	}

	&:not(:lang(zh), :lang(ja), :lang(ko)) {
		text-align: start;
		hanging-punctuation: first allow-end last;
	}
}

em:is(:lang(zh), :lang(ja), :lang(ko)),
u,
ins {
	text-decoration: underline;
	text-underline-offset: 2px;
}

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 */
:root {
	--vp-c-default-1: var(--vp-c-gray-1);
	--vp-c-default-2: var(--vp-c-gray-2);
	--vp-c-default-3: var(--vp-c-gray-3);
	--vp-c-default-soft: var(--vp-c-gray-soft);

	--vp-c-brand-1: color-mix(in oklab, var(--vp-c-brand-3), #fff 20%);
	--vp-c-brand-2: color-mix(in oklab, var(--vp-c-brand-3), #fff 10%);
	--vp-c-brand-3: #f06e8e;
	--vp-c-brand-soft: rgb(from color-mix(in oklab, var(--accent-50), #eee 93%) r g b / 14%);

	--vp-c-tip-1: var(--vp-c-indigo-1);
	--vp-c-tip-2: var(--vp-c-indigo-2);
	--vp-c-tip-3: var(--vp-c-indigo-3);
	--vp-c-tip-soft: var(--vp-c-indigo-soft);

	--vp-c-warning-1: var(--vp-c-yellow-1);
	--vp-c-warning-2: var(--vp-c-yellow-2);
	--vp-c-warning-3: var(--vp-c-yellow-3);
	--vp-c-warning-soft: var(--vp-c-yellow-soft);

	--vp-c-danger-1: var(--vp-c-red-1);
	--vp-c-danger-2: var(--vp-c-red-2);
	--vp-c-danger-3: var(--vp-c-red-3);
	--vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 */
:root {
	--vp-button-brand-border: transparent;
	--vp-button-brand-text: var(--vp-c-white);
	--vp-button-brand-bg: var(--vp-c-brand-3);
	--vp-button-brand-hover-border: transparent;
	--vp-button-brand-hover-text: var(--vp-c-white);
	--vp-button-brand-hover-bg: var(--vp-c-brand-2);
	--vp-button-brand-active-border: transparent;
	--vp-button-brand-active-text: var(--vp-c-white);
	--vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 */
:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(120deg, #fb7299, #2fbdec);
	--vp-home-hero-image-background-image: linear-gradient(76deg, #fb7299 20%, #2fbdec 80%);
	--vp-home-hero-image-filter: blur(44px);

	@media (min-width: 640px) {
		--vp-home-hero-image-filter: blur(56px);
	}

	@media (min-width: 960px) {
		--vp-home-hero-image-filter: blur(68px);
	}
}

/**
 * Component: Custom Block
 */
:root {
	--vp-custom-block-tip-border: transparent;
	--vp-custom-block-tip-text: var(--vp-c-text-1);
	--vp-custom-block-tip-bg: var(--vp-c-indigo-soft);
	--vp-custom-block-tip-code-bg: var(--vp-c-indigo-soft);
}

/**
 * Component: Fonts
 */
:root {
	--vp-font-family-base: "Segoe UI Variable", "Segoe UI", var(--vp-cjk-font-family), "Microsoft YaHei UI", sans-serif;
	--vp-font-family-mono:
		"Cascadia Code", "Cascadia Mono", "JetBrains Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	--vp-cjk-font-family: "Microsoft YaHei UI";
}

:root [lang] {
	font-family: "Segoe UI Variable", "Segoe UI", var(--vp-cjk-font-family), "Microsoft YaHei UI", sans-serif;
}

:is(:lang(zh-Hant), :lang(zh-TW), :lang(zh-HK), :lang(zh-MO)) {
	--vp-cjk-font-family: "Microsoft JhengHei UI";
}

:lang(ja) {
	--vp-cjk-font-family: "Yu Gothic UI", "Meiryo UI", "MS UI Gothic";
}

:lang(ko) {
	--vp-cjk-font-family: "Malgun Gothic";
}

/**
 * Component: Home Hero Sub-Heading
 */
.VPHero .heading .text {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;

	@media (min-width: 640px) {
		font-size: 32px;
		line-height: 40px;
	}

	@media (min-width: 960px) {
		font-size: 48px;
		line-height: 56px;
	}
}

/**
 * Component: Details
 */
details.details.custom-block {
	--padding: 16px;
	background-color: transparent;
	border-radius: 0;
	border-block: 1px solid var(--vp-c-divider);
	border-inline: none;
	transition:
		border-color 250ms,
		padding 250ms;
	padding-block: var(--padding);

	summary {
		display: flex;
		flex-direction: row;
		align-items: center;
		user-select: text;
		margin: calc(var(--padding) * -1);
		padding: var(--padding);
		vertical-align: middle;

		&:hover {
			color: var(--vp-c-brand-1);
			transition: color 100ms;
		}

		&::marker {
			content: none;
		}

		&::before {
			content: "";
			display: inline-block;
			width: 1em;
			height: 1em;
			transition: rotate 250ms;
			translate: -4px 1px;
			inset-inline-start: 0.8em;
			background-color: currentColor;
			line-height: normal;
			mask-image: url("./icons/chevron.svg?inline");
			mask-position: 50%;
			mask-size: 1em;
			mask-repeat: no-repeat;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			all: unset;
		}
	}

	&::details-content {
		transition:
			block-size 250ms,
			content-visibility 250ms allow-discrete;
		overflow: hidden;
		block-size: 0;
	}

	&:open {
		padding-block-end: 8px;

		summary::before {
			rotate: 90deg;
		}

		&::details-content {
			block-size: auto;
		}
	}

	& + & {
		margin-block-start: 0;
		border-block-start-width: 0;
	}

	&:has(+ &) {
		margin-block-end: 0;
	}

	&:has(summary:hover) {
		border-color: var(--vp-c-brand-1);
	}

	&:has(+ & summary:hover) {
		border-block-end-color: var(--vp-c-brand-1);
	}
}

/**
 * Component: View Transition API
 */
@view-transition {
	navigation: auto;
}

/**
 * Fix Component: Team Members in Home
 */
.vp-doc img.avatar-img {
	margin: 0;
}

/**
 * Component: Overview Image
 */
.vp-doc img {
	max-height: 600px;
	margin-inline: auto !important;
	border-radius: 6px;

	&:not(.shadow-less) {
		box-shadow: 0 4px 6px 0px #0003;
	}

	&.light:is(html.dark *),
	&.dark:is(html:not(.dark) *) {
		display: none;
	}
}

/**
 * Component: Hero Image
 */
.VPHero .image-container {
	transition: filter 500ms;

	&:has(.VPImage:hover) {
		filter: saturate(1.5);
	}
}

/**
 * Component: Read the Docs Flyout
 */
readthedocs-flyout {
	--readthedocs-flyout-color: var(--vp-c-text-2);
	--readthedocs-flyout-background-color: var(--vp-c-bg-soft);
	--readthedocs-flyout-current-version-color: var(--vp-c-brand-3);
	--readthedocs-flyout-section-heading-color: var(--vp-c-text-2);
	--readthedocs-flyout-item-link-color: var(--vp-c-text-1);
	--readthedocs-flyout-divider-color: var(--vp-c-divider);
	--readthedocs-flyout-link-color: var(--vp-c-brand-1);
	--readthedocs-flyout-line-height: 1.5em;
}

/**
 * Component: List Markers
 */
.vp-doc {
	ul {
		list-style: disc;
	}
	ul ul {
		list-style: circle;
	}
	ul ul ul {
		list-style: square;
	}
	ul ul ul ul {
		list-style: disc;
	}
	ul ul ul ul ul {
		list-style: circle;
	}
	ul ul ul ul ul ul {
		list-style: square;
	}
}

/**
 * Component: Info Custom Block Color
 */
.custom-block.info a,
.custom-block.info code {
	color: var(--vp-c-tip-1);
}

.custom-block.info a:hover,
.custom-block.info a:hover > code {
	color: var(--vp-c-tip-2);
}

/**
 * Component: I18n Custom Block
 */
.custom-block-title {
	display: flex;
	flex-direction: row;
	align-items: center;

	&::before {
		content: "️";
		width: 18px;
		height: 18px;
		display: inline-block;
		background-color: currentColor;
		margin-inline-end: 5px;
	}

	&:is(.info.custom-block > *)::before {
		mask-image: url(./icons/info.svg?inline);
	}

	&:is(:is(.warning, .important).custom-block > *)::before {
		mask-image: url(./icons/warning.svg?inline);
	}

	&:is(.danger.custom-block > *)::before {
		mask-image: url(./icons/danger.svg?inline);
	}

	&:is(.tip.custom-block > *)::before {
		mask-image: url(./icons/lightbulb.svg?inline);
	}
}

.custom-block-title-default {
	&:not(:lang(en)) {
		font-size: 0;

		&::after {
			font-size: var(--vp-custom-block-font-size);
		}
	}

	&:is(:lang(zh-CN), :lang(zh-Hans)) {
		&:is(.info.custom-block > *)::after {
			content: "信息";
		}

		&:is(.important.custom-block > *)::after {
			content: "重要";
		}

		&:is(.warning.custom-block > *)::after {
			content: "警告";
		}

		&:is(.danger.custom-block > *)::after {
			content: "危险";
		}

		&:is(.tip.custom-block > *)::after {
			content: "提示";
		}
	}
}
