.VPLocalSearchBox > *,
.algolia [command-dialog-mask],
.algolia [command-dialog-wrapper] {
	transition: all 250ms allow-discrete;
	transition-property: translate, opacity;

	@starting-style {
		opacity: 0;

		&:is(.shell, [command-dialog-wrapper]) {
			translate: 0 -1rem;
		}
	}
}

.VPNavScreenTranslations {
	transition: height 250ms;

	.title .chevron {
		transition: rotate 250ms;
	}

	&.open .title .chevron {
		rotate: 180deg;
	}
}

.VPNavBarTranslations {
	.vpi-chevron-down {
		transition: rotate 250ms;
	}

	> button[aria-expanded="true"] .vpi-chevron-down {
		rotate: 180deg;
	}
}

.VPNavBarSearchButton,
.nav-search-btn-wait {
	view-transition-name: nav-bar-search-button;
}

.VPHomeHero,
.VPHomeFeatures {
	view-transition-class: home-hero;
}

.VPHomeHero {
	view-transition-name: home-hero;
}

.VPHomeFeatures {
	view-transition-name: home-features;
}

::view-transition-old(.home-hero):only-child {
	animation-name: float-up-out;
}

::view-transition-new(.home-hero):only-child {
	animation-name: float-up-in;
}

.VPNav {
	view-transition-name: nav;
}

.VPSidebar {
	view-transition-name: side-bar;

	@media (width < 960px) {
		view-transition-class: toper;
	}
}

::view-transition-old(side-bar):only-child {
	animation-name: float-right-out;
}

::view-transition-new(side-bar):only-child {
	animation-name: float-right-in;
}

::view-transition-group(nav) {
	z-index: 20;
}

::view-transition-group(nav-bar-search-button) {
	z-index: 21;
}

::view-transition-group(side-bar.toper) {
	z-index: 22;
}

.VPDocAsideOutline {
	view-transition-name: doc-aside;
}

::view-transition-old(doc-aside):only-child {
	animation-name: float-left-out;
}

::view-transition-new(doc-aside):only-child {
	animation-name: float-left-in;
}

.VPDocOutlineItem.root {
	view-transition-name: doc-aside-outline-items;
}

::view-transition-old(doc-aside-outline-items) {
	animation-name: float-left-out;
}

::view-transition-new(doc-aside-outline-items) {
	animation-name: float-left-in;
}

.VPDoc .content .content-container,
.NotFound {
	view-transition-name: match-element;
	view-transition-class: doc-content;
}

::view-transition-old(.doc-content) {
	animation: page-jump-out cubic-bezier(0.95, 0.05, 0.795, 0.035) 150ms both;
}

::view-transition-new(.doc-content) {
	animation: page-jump-in cubic-bezier(0.19, 1, 0.22, 1) 500ms 150ms both;
}

readthedocs-flyout::part(flyout) {
	view-transition-name: readthedocs-flyout;
}

:root:active-view-transition-type(instant) readthedocs-flyout::part(flyout) {
	view-transition-name: none;
}

::view-transition-group(readthedocs-flyout) {
	z-index: 90;
}

.VPLocalNav {
	view-transition-name: local-nav;
}

::view-transition-old(local-nav):only-child {
	animation-name: float-up-slight-out;
}

::view-transition-new(local-nav):only-child {
	animation-name: float-up-slight-in;
}

.vitepress-image-viewer__wrapper {
	> * {
		animation: zoom-in cubic-bezier(0, 0, 0, 1) 250ms;
	}

	.vitepress-image-viewer__mask,
	.vitepress-image-viewer__actions,
	.vitepress-image-viewer__progress {
		animation: none;
		transition:
			opacity 250ms,
			translate 250ms;
	}

	@starting-style {
		.vitepress-image-viewer__mask {
			opacity: 0;
		}

		.vitepress-image-viewer__actions,
		.vitepress-image-viewer__progress {
			translate: 0 80px;
		}
	}
}

@keyframes float-up-out {
	to {
		translate: 0 -2rem;
		opacity: 0;
	}
}

@keyframes float-up-in {
	from {
		translate: 0 -2rem;
		opacity: 0;
	}
}

@keyframes float-right-out {
	to {
		translate: -2rem;
		opacity: 0;
	}
}

@keyframes float-right-in {
	from {
		translate: -2rem;
		opacity: 0;
	}
}

@keyframes float-left-out {
	to {
		translate: 2rem;
		opacity: 0;
	}
}

@keyframes float-left-in {
	from {
		translate: 2rem;
		opacity: 0;
	}
}

@keyframes page-jump-out {
	to {
		translate: 0 -2rem;
		opacity: 0;
	}
}

@keyframes page-jump-in {
	from {
		translate: 0 5rem;
		opacity: 0;
	}
}

@keyframes float-up-slight-out {
	to {
		translate: 0 -1rem;
		opacity: 0;
	}
}

@keyframes float-up-slight-in {
	from {
		translate: 0 -1rem;
		opacity: 0;
	}
}

@keyframes zoom-in {
	from {
		scale: 0;
	}
}
